# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Id_WorkSpaces\tmp_mock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
